/*通用样式play*/
*{
	color: #000000;text-decoration:none;
}
.box{
	width:1300px;margin:0px auto;/*四个方向为50px的外边距,内容大于元素框被剪切*/
	position:relative;
}

.links p{
	background:url(../img/redLine.png) center;
	text-align:center;background-repeat:no-repeat;
}
.links span{
	background:red;width:200px;height:150px;
}
.links .card{
	background:rgb(187,255,255);width:215px;height:150px;
	border:3px black solid;border-radius:5px;
	inline-block;margin:10px;padding:5px;
	text-align-last: left;overflow:hidden;
	display:inline-block;
}

.card img{
	width:50px;height:50px;border-radius:3px;
	float:left;
}
.card .start{
	font-size:16px;font-weight:50;display:inline;
	margin:0;float:right;margin-right:120px;margin-top:0px;
}
.card .label{
	font-weight:700;float:left;margin:0;margin-top:0px;margin-left:5px;
}
.card .introduction{
	font-size:17px;color:red;margin:5px;
	float:left;
}
/*通用样式end*/
/*快捷跳转play*/
.head{
	height:300px;
}
.jump{
	background:rgba(0,0,0,0.2);
	width:200px;height:300px;left:10px;
	position:absolute;padding:5px;
}
.jump a{
	display:inline-block;
}
/*快捷跳转end*/
/*公告play*/
.announcement{
	background:rgba(0,0,0,0.2);position:absolute;
	width:200px;height:300px;right:10px;
}
.announcement ul{
	list-style-type:outside;
}
/*公告end*/
/*右侧背景定位play*/
.rightPosi{
	font-size:20px;position:fixed;right:20px;top:50%;
}
.rightPosi img{
	width:50px;
}
/*右侧背景定位end*/
/*链接play*/

/*链接end*/
